.FirstSection {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FicheInformation {
  color: #ff6060;
}

.FicheTilte {
  font-size: 35px;
  margin: 5% 0 5% 0;
}

.SubTilte {
  color: #ff6060;
  font-size: 18px;
  margin: 0.2rem 0 1rem;
}
.Profil {
  display: flex;
  flex-direction: column;
  width: 11em;
  align-items: flex-end;
  color: #ff6060;
}
.NameAndPicture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

.Name {
  text-align: right;
  font-size: 18px;
  margin-right: 0.5rem;
}

.ProfilPicture {
  width: 3.6rem;
  border-radius: 50%;
}

.Star {
  font-size: 26px;
  color: #d0d0d0;
}
.OrangeStar {
  color: #ff6060;
}

.DropdownSection {
  display: flex;
  width: 100%;
  align-content: space-between;
  height: 100%;
}

.Drop:first-child {
  margin-right: 2em;
}

.Drop {
  width: 100%;
}

.tag-section {
  display: flex;
  width: auto;
}
/* Responsive */

@media screen and (max-width: 768px) {
  .DropdownSection {
    display: flex;
    flex-direction: column;
  }
  .Drop:first-child {
    margin-right: 0em;
  }
  .FirstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Profil {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    color: #ff6060;
    justify-content: space-between;
  }
  .NameAndPicture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10.4em;
  }
  .FicheTilte {
    font-size: 20px;
    margin: 2% 0 2% 0;
  }
}
