.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
}

.message {
  text-align: center;
}

.errorTitle {
  font-size: 15em;
  margin: 5%;
}

.back {
  list-style: none;
  color: #ff6060;
  margin: 1em;
}

.back:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .errorTitle {
    font-size: 10em;
  }
}
