.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2.5em;
}
.menu-nav {
  display: flex;
  justify-content: space-between;
}

.option {
  list-style: none;
  width: 5em;
  font: 1.2em "Montserrat", sans-serif;
  color: #ff6060;
}

.option:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
