.location {
  height: 15em;
  border-radius: 10px;
  background-color: #111111;
  color: white;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.5;
  object-fit: cover;
}

.background {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  width: 100%;
  height: 100%;
}

.grille {
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.ThumTitle {
  margin: 10px;
  position: absolute;
  position: relative;
  bottom: 32px;
  bottom: 4em;
}
